///* 添加字体库 */
//@font-face {
//    font-family: 'DS-Digital';  //重命名字体名
//    //src: url('./DS-Digital.ttf');  //引入字体
//    src: url('./NotoSansHans-Regular.otf');  //引入字体
//    font-weight: normal;
//    font-style: normal;
//}

//苹方字体
// @font-face {
//     font-family: 'pingfang sc medium';  //重命名字体名
//     src: url('./pingfang sc medium.otf');  //引入字体
//     font-weight: normal;
//     font-style: normal;
// }

